<%- include('../errorBox') -%>
<div id="add_experiment">

  <div class="row">
        <div class="seven columns offset-by-one">
        </br>
      <h2>Add Experiment</h2>
    </div>
  </div>
  <div class="row">
    <div class="seven columns offset-by-one">
      <label for="experimentName">Experiment name</label>
      <input class="u-full-width" type="text" placeholder="Experiment name" name="name" id="experimentName">
    </div>
  </div>
  </br>
  <div class="row">
    <div class="ten columns  offset-by-one">
      <label for="experimentDescription">Description</label>
      <input  type="textarea" class="u-full-width" placeholder="This is an experiment about..." name="description" id="experimentDescription"></input>
  </div>
  </div>
  <br>
  <div class="row">
    <div class="six columns offset-by-eight">
      <div class="button-primary button" id="addExperimentBtn" type="submit">Create</div>
    </div>
  </div>


<script>
   $('#addExperimentBtn').on("click", function() {
   var path = "/experiment"
   $.post(path,
    { 
      name:$("#experimentName").val(),
      description:$("#experimentDescription").val()
    },
    function(data, status){
      $("#content").html(data);
    });

    });
</script>
</div>
