<%- include('../errorBox') -%>
<div id="add_project">

  <div class="row">
        <div class="seven columns offset-by-one">
        </br>
      <h2>Add Project</h2>
    </div>
  </div>
  <div class="row">
    <div class="seven columns offset-by-one">
      <label for="projectName">Project name</label>
      <input class="u-full-width" type="text" placeholder="project name" name="name" id="projectName">
    </div>
  </div>
  </br>
  <div class="row">
    <div class="ten columns  offset-by-one">
      <label for="projectDescription">Description</label>
      <input  type="textarea" class="u-full-width" placeholder="This is an project about..." name="description" id="projectDescription"></input>
  </div>
  </div>
  <br>
  <div class="row">
    <div class="six columns offset-by-eight">
      <div class="button-primary button" id="addProjectBtn" type="submit">Create</div>
    </div>
  </div>


<script>
   $('#addProjectBtn').on("click", function() {
   var path = "/project"
   $.post(path,
    { 
      name:$("#projectName").val(),
      description:$("#projectDescription").val()
    },
    function(data, status){
      $("#content").html(data);
    });

    });
</script>
</div>
