<div id="editprofile_page">

    <div class="row">
        <div class="five columns offset-by-one">
            </br>
            <h2>Edit profile</h2>
        </div>
    </div>

    <form action="/user/editprofile" method="post">
        <div class="row">
            <div class="three columns offset-by-one">
                <label for="userNameLabel">Name</label>
            </div>
            <div class="seven columns">
                <input class="u-full-width" name="name" type="text" placeholder="<%= user.name %>" id="userName">
            </div>
        </div>

        <div class="row">
            <div class="three columns offset-by-one">
                <label for="userEmail">Email</label>
            </div>
            <div class="seven columns">
                <input class="u-full-width" name="email" type="Email" placeholder="<%= user.email %>" id="userEmail">
            </div>
        </div>

        <div class="row">
            <div class="three columns offset-by-one">
                <label for="userPassword">Password</label>
            </div>
            <div class="seven columns">
                <input class="u-full-width" name="password" type="password" placeholder="*****" id="userPassword">
            </div>
        </div>

        <div class="row">
            <div class="three columns offset-by-one">
                <label for="userPassword2">Password again</label>
            </div>
            <div class="seven columns">
                <input class="u-full-width" name="password2" type="password" placeholder="*****" id="userPassword2">
            </div>
        </div>

        <div class="row">
            <div class="ten columns  offset-by-one">
                <label for="descriptionLabel">Description</label>
                <input type="textarea" class="u-full-width" placeholder="<%= user.description %>" name="description" id="userDesc"></input>
            </div>
        </div>

  <div class="row">
          <div class="five columns offset-by-one">
        </br>
      <h2>Projects</h2>
    </div>
    <div class="ten columns offset-by-one">
    
  <table class="u-full-width" id="projects">
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Role</th>
      <th>Updated files</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% projects.forEach(function(project){ %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.date %></td>
        <td><%= project.role %></td>
        <td><%= project.filesnum %></td>
        <td>
          <div data-id='<%= project._id %>' class="button project_view_btn">View details</div>
        </td>
      </tr>
    <% }); %>
  </tbody>
</table>
    </div>
  </div>


    <div class="row">
          <div class="five columns offset-by-one">
        </br>
      <h2>Experiments</h2>
    </div>
    <div class="ten columns offset-by-one">
    
  <table class="u-full-width" id="experiments">
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Role</th>
      <th>Updated files</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% experiments.forEach(function(experiment){ %>
      <tr>
        <td><%= experiment.name %></td>
        <td><%= experiment.date %></td>
        <td><%= experiment.role %></td>
        <td><%= experiment.filesnum %></td>
        <td>
          <div data-id='<%= experiment._id %>' class="button experiment_view_btn">View details</div>
        </td>
      </tr>
    <% }); %>
  </tbody>
</table>
    </div>
  </div>
        
        <div class="row">
            <div class="two columns offset-by-six">
                <input type="submit" class="button button-primary" value="Save" />
            </div>
        </div>
    </form>
    <div class="row">
        <div class="three columns offset-by-six">
            <form action="/user/delete" method="post">
                <input type="submit" class="button" value="Delete User" />
            </form>
        </div>
    </div>


    </br>
</div>