<div id="events_page">

  <div class="row">
        <div class="five columns offset-by-one">
        </br>
      <h2>Events</h2>
    </div>
  </div>
  <div class="row">
    <div class="seven columns offset-by-one">
      <input class="u-full-width" type="text" placeholder="eventName" id="eventName">
    </div>
    <div class="two columns">
      <div id="searchEvent" class="button">Search</div>
    </div>
  </div>
  </br>
  <div class="row">
    <div class="ten columns offset-by-one">
  <table class="u-full-width" id="tables">
  <thead>
    <tr>
      <th>Name</th>
      <th>Source</th>
      <th>Description</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <% eventModel.forEach(function(event){ %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.source %></td>
        <td><%= event.desc %></td>
        <td><%= event.date %></td>
        <td>
          <div data-id='<%= event._id %>' class="button table_add">Add to list</div>
          <div data-id='<%= event._id %>' class="button table_view_btn">View details</div>
        </td>
      </tr>
    <% }); %>
  </tbody>
</table>
    </div>
  </div>
  <script>
    $("#searchEvent").on("click",function(){
      window.location.href="events?name="+$("#eventName").val();
    });
  </script>
</div>
