<div id="experiments_page">

  <div class="row">
        <div class="five columns offset-by-one">
        </br>
      <h2>Experiments</h2>
    </div>
  </div>
  <div class="row">
    <div class="ten columns offset-by-one">
    <a href="experiments?abc" class="button">ABC</a>
    <a href="experiments?date" class="button">Latest</a>
    </div>
  </div>
  <div class="row">
    <div class="seven columns offset-by-one">
      <input class="u-full-width" type="text" placeholder="experimentName" id="experimentName">
    </div>
    <div class="two columns">
      <div id="searchexperiment" class="button">Search</div>
    </div>
  </div>
  </br>
  <div class="row">
    <div class="ten columns offset-by-one">
  <table class="u-full-width" id="experiments">
  <thead>
    <tr>
      <th>Name</th>
      <th>Owner</th>
      <th>Num. of Exp.</th>
      <th>Created</th>
      <th>Modified</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    <% experiments.forEach(function(experiment){ %>
      <tr>
        <td><%= experiment.name %></td>
        <td><%= experiment._owner.name %></td>
        <td><%= experiment.expnum %></td>
        <td><%= experiment.created.toDateString() %></td>
        <td><%= experiment.modified %></td>
        <td>
          <div data-id='<%= experiment._owner._id %>' class="button user_view_btn">View owner</div>
          <div data-id='<%= experiment._id %>' class="button experiment_view_btn">View details</div>
        </td>
      </tr>
    <% }); %>
  </tbody>
</table>
    </div>
  </div>
  <script>

    $("#searchexperiment").on("click",function(){
        loadPage("/content/experiments?name="+$("#experimentName").val());
    });
  </script>
</div>
