<div id="project_page">

  <div class="row">
    <div class="five columns offset-by-one">
      </br>
      <h3>Project
        <%= project.name %>

        
      </h3>
    </div>
  </div>

  <div class="row">
    <div class="ten columns offset-by-one">
      <textarea readonly class="u-full-width" placeholder="You really should add some description to the project..." id="expDesc"><%- project.desc -%></textarea>
    </div>
  </div>
    <div class="three columns offset-by-one">
      <label for="fileLabel">Details</label>
    </div>
    <div class="ten columns offset-by-one">
      <table class="u-full-width" id="users">
        <thead>
          <tr>
            <th>Owner</th>
            <th>Created</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td>
                <%= project._owner.name %>
              </td>
              <td>
                <%= project.created.toDateString() %>
              </td>
             
            </tr>
        </tbody>
      </table>
    </div>
  </div>

 <div class="row">
    <div class="three columns offset-by-one">
      <label for="experimentLabel">Experiments</label>
    </div>
    <div class="ten columns offset-by-one">
      <table class="u-full-width" id="users">
        <thead>
          <tr>
            <th>Name</th>
            <th>Created</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% project._experiments.forEach(function(experiment){ %>
            <tr>
              <td>
                <%= experiment.name %>
              </td>
              <td>
                <%= experiment.created.toDateString() %>
              </td>
              <td>
                <div data-id='<%= experiment._id %>' class="button experiment_view_btn">View details</div>
                <%if(owner) {%> 
                <div title="remove experiment" data-id='<%= experiment._id %>' class="button experiment_remove_btn"><i class="fa fa-times"/></i></div>
                <% } %>
              </td>
            </tr>
            <% }); %>
        </tbody>
      </table>


    </div>
    <%if(owner) {%> 
    <div class="seven columns offset-by-one">
      <select class="u-full-width" id="experimentSelector">
      <% experiments.forEach(function(experiment){ %>
        <option value="<%= experiment._id %>"><%= experiment.name %></option>
     <% }); %>
      </select>
      
      </div>
      <div class="three columns">
      <div id="assignExperiment" class="button">Add</div>
      </div>
     </div>
  <% } %> 


  <div class="row">
    <div class="three columns offset-by-one">
      <label for="membersLabel">Members</label>
    </div>
    <div class="ten columns offset-by-one">
      <table class="u-full-width" id="users">
        <thead>
          <tr>
            <th>Name</th>
            <th></th>
            <th>Last login</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% project._members.forEach(function(user){ %>
            <tr>
              <td>
                <%= user.name %>
              </td>
              <td>
                <%= user.picture %>
              </td>
              <td>
                <%= user.lastlogin %>
              </td>
              <td>
                <div data-id='<%= user._id %>' class="button user_view_btn">View details</div>
                <%if(owner) {%> 
                <div title="remove user" data-id='<%= user._id %>' class="button user_remove_btn"><i class="fa fa-times"/></i></div>
                <% } %> 
              </td>
            </tr>
            <% }); %>
        </tbody>
      </table>


    </div>
    <%if(owner) {%> 
      <div class="seven columns offset-by-one">
      <select class="u-full-width" id="userSelector">
      <% users.forEach(function(user){ %>
        <option value="<%= user._id %>"><%= user.name %></option>
     <% }); %>
      </select>
      
      </div>
      <div class="three columns">
      <div id="assignUser" class="button">Add</div>
      </div>
  </div>
  <% } %> 

   <div class="row">
    <div class="three columns offset-by-one">
      <label for="fileLabel">Files</label>
    </div>
    <div class="ten columns offset-by-one">
      <table class="u-full-width" id="users">
        <thead>
          <tr>
            <th>Name</th>
            <th>Size</th>
            <th>Owner</th>
            <th>Uploaded</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% project._files.forEach(function(file){ %>
            <tr>
              <td>
                <%= file.name %>
              </td>
              <td>
                <%if((file.size/1024) > 400.0) {%>
                  <%= (file.size/(1024*1024)).toFixed(0) %> MB
               <% } %>
                <%if((file.size/1024) <= 400.0) {%>
                  <%= (file.size/(1024)).toFixed(0) %> KB
                <% } %>
              </td>
              <td>
               <%if(file._uploader) {%>
                  <%= file._uploader.name %>
                <% } %>                
              </td>
              <td>
                <%= file.uploaded.toDateString() %>
              </td>
              <td>
                <a href='/file/<%= file._link %>' class="button file_view_btn">Download</a>
                <div title="delete file" data-id='<%= file._link %>' class="button file_remove_btn"><i class="fa fa-times"/></i></div>
              </td>
            </tr>
            <% }); %>
        </tbody>
      </table>
    </div>
  </div>
  <%if(owner || member) {%> 
   <div class="row">
        <form method='post' action='/project/<%= project._id %>/file' enctype="multipart/form-data">
         <div class="six columns offset-by-one">
            <input type="file" name="file" id="file" class="inputfile" />
         </div>
        <div class="two columns offset-by-one">
            <input type='submit'>
         </div>
        </form>
    </div>
  <% } %> 
    <br/>
  <%if(owner) {%> 
  <div class="row">
    <div class="six columns offset-by-one">
       <form action="/project/<%= project._id %>/delete" method="post">
                <input type="submit" class="button button-primary" value="Delete project" />
       </form>
    </div>
  </div>
  <% } %> 
  </br>
</div>

<script>
 $('#assignUser').on("click", function() {
   var path = "/project/<%= project._id %>/assign/"+$("#userSelector").val() 
   $.post(path,
    {    },
    function(data, status){
      loadPage();
    });

    });

   $('.user_remove_btn').on("click", function() {
   var path = "/project/<%= project._id %>/resign/"+$(this).attr("data-id")
   $.post(path,
    {    },
    function(data, status){
      loadPage();
    });

    });



     $('#assignExperiment').on("click", function() {
   var path = "/project/<%= project._id %>/add/"+$("#experimentSelector").val() 
   $.post(path,
    {    },
    function(data, status){
      loadPage();
    });

    });

   $('.experiment_remove_btn').on("click", function() {
   var path = "/project/<%= project._id %>/remove/"+$(this).attr("data-id")
   $.post(path,
    {    },
    function(data, status){
      loadPage();
    });

    });


    $('.file_remove_btn').on("click", function() {
   var path = "/project/<%= project._id %>/file/"+$(this).attr("data-id")+"/delete"
   $.post(path,
    {    },
    function(data, status){
      loadPage();
    });

    });
</script>