<div id="projects_page">

  <div class="row">
        <div class="five columns offset-by-one">
        </br>
      <h2>Projects</h2>
    </div>
  </div>
  <div class="row">
    <div class="ten columns offset-by-one">
    <a href="projects?abc" class="button">ABC</a>
    <a href="projects?date" class="button">Latest</a>
    </div>
  </div>
  <div class="row">
    <div class="seven columns offset-by-one">
      <input class="u-full-width" type="text" placeholder="projectName" id="projectName">
    </div>
    <div class="two columns">
      <div id="searchproject" class="button">Search</div>
    </div>
  </div>
  </br>
  <div class="row">
    <div class="ten columns offset-by-one">
  <table class="u-full-width" id="projects">
  <thead>
    <tr>
      <th>Name</th>
      <th>Owner</th>
      <th>Created</th>
      <th>Modified</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    <% projects.forEach(function(project){ %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project._owner.name %></td>
        <td><%= project.created.toDateString() %></td>
        <td><%= project.modified %></td>
        <td>
          <div data-id='<%= project._owner._id %>' class="button user_view_btn">View owner</div>
          <div data-id='<%= project._id %>' class="button project_view_btn">View details</div>
        </td>
      </tr>
    <% }); %>
  </tbody>
</table>
    </div>
  </div>
  <script>

    $("#searchproject").on("click",function(){
        loadPage("/content/projects?name="+$("#projectName").val());
    });
  </script>
</div>
