<div id="profile_page">

    <div class="row">
        <div class="five columns offset-by-one">
            </br>
            <h2><%= user.name %>'s profile</h2>
        </div>
    </div>


        <div class="row">
            <div class="ten columns  offset-by-one">
                <label for="descriptionLabel">Description</label>
                <input readonly type="textarea" class="u-full-width" placeholder="<%= user.description %>" name="description" id="userDesc"></input>
            </div>
        </div>

  <div class="row">
          <div class="five columns offset-by-one">
        </br>
      <h2>Projects</h2>
    </div>
    <div class="ten columns offset-by-one">
    
  <table class="u-full-width" id="experiments">
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Role</th>
      <th>Updated files</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% projects.forEach(function(project){ %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.date %></td>
        <td><%= project.role %></td>
        <td><%= project.filesnum %></td>
        <td>
          <div data-id='<%= project.id %>' class="button project_view_btn">View details</div>
        </td>
      </tr>
    <% }); %>
  </tbody>
</table>
    </div>
  </div>


    <div class="row">
          <div class="five columns offset-by-one">
        </br>
      <h2>Experiments</h2>
    </div>
    <div class="ten columns offset-by-one">
    
  <table class="u-full-width" id="experiments">
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Role</th>
      <th>Updated files</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% experiments.forEach(function(experiment){ %>
      <tr>
        <td><%= experiment.name %></td>
        <td><%= experiment.date %></td>
        <td><%= experiment.role %></td>
        <td><%= experiment.filesnum %></td>
        <td>
          <div data-id='<%= experiment.id %>' class="button experiment_view_btn">View details</div>
        </td>
      </tr>
    <% }); %>
  </tbody>
</table>
    </div>
  </div>
        
</div>