<div id="users_page">

  <div class="row">
        <div class="five columns offset-by-one">
        </br>
      <h2>Users</h2>
    </div>
  </div>
  <div class="row">
    <div class="ten columns offset-by-one">
    <a href="users?abc" class="button">ABC</a>
    <a href="users?date" class="button">Latest</a>
    </div>
  </div>
  <div class="row">
    <div class="seven columns offset-by-one">
      <input class="u-full-width" type="text" placeholder="userName" id="userName">
    </div>
    <div class="two columns">
      <div id="searchuser" class="button">Search</div>
    </div>
  </div>
  </br>
  <div class="row">
    <div class="ten columns offset-by-one">
  <table class="u-full-width" id="users">
  <thead>
    <tr>
      <th>Name</th>
      <th>Last login</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% users.forEach(function(user){ %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.lastLogin.toDateString() %></td>
        <td>
          <div data-id='<%= user._id %>' class="button user_view_btn">View details</div>
        </td>
      </tr>
    <% }); %>
  </tbody>
</table>
    </div>
  </div>
  <script>
    $("#searchuser").on("click",function(){
        loadPage("/content/users?name="+$("#userName").val());
    });
  </script>
</div>
