<%- include('innerHeader') -%>
<body>

<div id="content" class="effect6 noselect five columns offset-by-three">

</div>

<div id="status" class="noselect">
    <div id="navigation" class="five columns row offset-by-three">

     <div id="menu_wrapper" class="eight columns">
        <div id="experiments_btn" class="nav_element">Experiments</div>
        <%if(name) {%>
          <div id="addexperiment_btn" class="nav_element" ><i class="fa fa-plus"></i>Experiment</div>
        <% } %>    
        
        <div id="projects_btn" class="nav_element">Projects</div>
        <%if(name) {%>
          <div id="addproject_btn" class="nav_element" ><i class="fa fa-plus"></i>Project</div>
        <% } %> 
        
        <div id="users_btn" class="nav_element" ><i class="fa fa-user"></i>Users</div>
      </div>

      
      <div id="profile_wrapper" class="two columns">

       <%if (typeof name=='undefined') { %>
        <a href="/login" class="button button-primary">Login</a>
       <% } %>

      <%if (name) { %>
        <div>
          <form id="logoutform" action="/logout" method="post">
          <div id="logout_btn" class="nav_element fa fa-power-off last" title="Logout"></div>
          </form>
        </div>

      
        <div id="eventbox_btn" class="nav_element"><i title="events" class="fa fa-calendar"></i></div>

         <div id="eventbox" class="flyout">
          <span id="tip"></span>
          <h2>Events</h2>

          <table class="u-full-width" id="events">
          <thead>
            <tr>
              <th>Description</th>
              <th>Date</th>
              <th>Details</th>
            </tr>
          </thead>
          <tbody>
            <% eventModel.forEach(function(event){ %>
              <tr>
                <td><%= event.name %></td>
                <td><%= event.owner %></td>
                <td><%= event.modified %></td>
                <td>
                  <div data-id='<%= event._id %>' class="button experiment_view_btn">View details</div>
                </td>
              </tr>
            <% }); %>
          </tbody>
        </table>

        <h2><div id="events_btn" class="nav_element">View all</div></h2>
        </div>
        <div id="profile_btn" class="nav_element"><%= name %></div>

        <% } %>
      </div>
    </div><!--  navig row -->



</div>
<script>

$("#expander").click(function(){
  $("#processor_list").slideToggle();
});

</script>
</body>
<%- include('outerFooter') -%>
