<%- include('outerHeader') -%>
<body>

  <%- include('errorBox') -%>
  <div id="recoverycontent" class="box effect6">
    <p id="title">Research Diary</p>
    <div id="container">
      <!-- The above form looks like this -->
      <form action="/forgottenpassword" method="post">
        <div class="row">
          <div class="six columns offset-by-one">
            <label for="exampleEmailInput">Forgotten password</label>
          </div>
        </div>
        <div class="row">
          <div class="three columns offset-by-one">
            <label for="exampleEmailInput">Your email</label>
          </div>
          <div class="seven columns ">
            <input class="u-full-width" name="email" type="email" placeholder="test@mailbox.com" id="exampleEmailInput">
          </div>
        </div>
        </div>
        <div class="row">
          <div class="eight columns offset-by-three">
            <!--
            <input class="button" type="submit" value="Register">
            <input class="button-primary" type="submit" value="Back to Login">-->
            <a href="/" class="button">Back to Login</a>
            <input type="submit" class="button button-primary" value="Send email" />
          </div>
        </div>
      </form>
    </div>
  </div>
</body>
<%- include('outerFooter') -%>
