body {
    margin: 0;
    background: url("../images/musback.jpg") fixed no-repeat bottom right;
}

#content {
    width: 500px;
    height: 320px;
    margin: auto;
    margin-top: 100px;
    background-color: #e8e8e8;
}

#registrationcontent {
    width: 500px;
    height: 470px;
    margin: auto;
    margin-top: 100px;
    background-color: #e8e8e8;
}

#recoverycontent {
    width: 500px;
    height: 320px;
    margin: auto;
    margin-top: 100px;
    background-color: #e8e8e8;
}

.box {
    width: 70%;
    height: 200px;
    background: #FFF;
    margin: 40px auto;
}

#container {
    margin-left: auto;
    margin-right: auto;
}

#logo {
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}

#title {
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
    text-align: center;
    color: rgba(20, 20, 30, 0.8);
    padding-top: 30px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

.row {
    margin-top: 10px;
}

.alert {
    position: absolute !important;
    top: 0px;
    min-height: 80px;
    width: 100%;
    color: rgb(33, 33, 33);
    text-align: center;
    background-color: rgb(220, 220, 220);
}

.alert ul {
    list-style: none
}


/*==================================================
 * Effect 6
 * ===============================================*/

.effect6 {
    position: relative;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.effect6:before,
.effect6:after {
    content: "";
    position: absolute;
    z-index: -1;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    top: 50%;
    bottom: 0;
    left: 10px;
    right: 10px;
    border-radius: 100px / 10px;
}