body {
    margin: 0;
    background: url("../images/musback.jpg") fixed no-repeat bottom right;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE/Edge */
    user-select: none;
    /* non-prefixed version, currently
                                not supported by any browser */
}

#content {
    margin-top: 60px;
    margin-bottom: 52px;
    background-color: #fff;
}

#status {
    border-collapse: collapse;
    margin: 0;
    min-height: 28px;
    width: 100%;
    top: 0;
    position: fixed;
    background-color: #3f3f3f;
    font-family: 'Open Sans', sans-serif;
}

#navigation {
    font-size: 13px;
    color: #e4e4e4;
}

#navigation #menu_wrapper {
    min-width: 320px;
}

#navigation #processor_wrapper {
    min-width: 50px;
}

#navigation #processor_wrapper i {
    font-size: x-large;
}

#processor_wrapper>div {
    display: inline-block;
}

#navigation #profile_wrapper {
    float: right;
    min-width: 150px;
    margin-right: 2px;
}

#processing_status {
    vertical-align: middle;
}

#processing_button {
    cursor: pointer;
}

#expander {
    text-align: center;
    height: 10px;
}

#expander i {
    color: #fff;
    vertical-align: top;
    line-height: 7px;
    height: 7px;
    cursor: pointer;
    font-size: 12px;
}

p {
    font-family: 'Open Sans', sans-serif;
}

.title {
    font-size: 60px;
    font-weight: 600;
}

#navigation .nav_element {
    display: inline;
    white-space: nowrap;
    font-size: 12px;
    vertical-align: middle;
    height: inherit;
    color: #e0e0e0;
    padding: 0 5px;
    text-decoration: none;
    cursor: pointer;
}

#navigation .nav_element i {
    padding: 0px 3px;
}

#navigation div i:hover,
#navigation div span:hover,
#navigation div div:hover {
    color: white;
    -webkit-transition: color 100ms linear;
    -moz-transition: color 100ms linear;
    -o-transition: color 100ms linear;
    -ms-transition: color 100ms linear;
    transition: color 100ms linear;
}

#navigation #eventbox,
#navigation #eventbox .nav_element {
    color: #555 !important;
}

#navigation #eventbox:hover,
#navigation #eventbox .nav_element:hover {
    color: #000;
}

#eventbox {
    display: none;
}

#eventbox h2 {
    text-align: center;
}

input[type=textarea] {
    height: 130px;
}

table .button {
    height: 18px;
    line-height: 18px;
    padding: 0 5px;
    font-size: 9px;
    margin: 5px;
}

.button.chunk {
    height: 18px;
    line-height: 18px;
    padding: 0 5px;
}

.cell {
    display: inline-block;
    width: 6px;
    height: 6px;
    line-height: 6px;
    font-size: 0px;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-left: 1px solid rgba(0, 0, 0, 0.3);
}

.popup {
    position: fixed;
    width: 500px;
    height: 200px;
    top: 50%;
    left: calc(50% - 250px);
    margin-top: -100px;
    margin-left: -250px;
    display: none;
    z-index: 1000;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    background-color: #fff;
}

.popup .close {
    cursor: pointer;
    padding: 5px;
    float: right;
}

.popup .close:hover {
    color: #822;
}

#profile_page .row {
    margin: 5px 0;
}

.userStats {
    font-size: 30px;
}

.userStats i {
    font-size: 50px;
}

#content table {
    font-size: 11px;
}

.last {
    width: inherit;
    text-align: right;
}

.devel {
    background-color: rgba(255, 0, 0, 0.3);
}


/*==================================================
 * Effect 6
 * ===============================================*/

.effect6 {
    position: relative;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.effect6:before,
.effect6:after {
    content: "";
    position: absolute;
    z-index: -1;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    top: 50%;
    bottom: 0;
    left: 10px;
    right: 10px;
    border-radius: 100px / 10px;
}

.block {
    width: 8px;
    height: 8px;
    border-right: solid 1px rgba(0, 0, 0, 0.3);
    border-top: solid 1px rgba(0, 0, 0, 0.3);
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

.blocks {
    border-left: solid 1px rgba(0, 0, 0, 0.3);
    border-bottom: solid 1px rgba(0, 0, 0, 0.3);
    display: inline-flex;
}

.block.blockstate1 {
    background-color: rgba(250, 250, 20, 0.5);
}

.block.blockstate2 {
    background-color: rgba(0, 200, 50, 0.4);
}

#content .alert {
    position: absolute !important;
    top: 140px;
    min-height: 170px;
    width: 100%;
    color: rgb(33, 33, 33);
    text-align: center;
    background-color: rgb(220, 220, 220);
}

.alert ul {
    top: 10px;
    list-style: none
}

#logoutform {
    display: inline-block;
    margin-bottom: 0px;
}

.modal {
    position: absolute !important;
    top: 100px;
    width: 300px;
    display: none;
}

.modal {
    position: absolute;
    width: 300px;
    padding: 8px;
    top: 50px;
    min-height: 50px;
    display: none;
    background-color: #fbfbfb;
    color: #444;
    border: 1px solid #ccc;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 120px;
    z-index: 1;
}

.modal-closer {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    float: right;
    cursor: pointer;
}

.modal-closer:hover {
    color: #666;
}

.modal-content {
    text-align: center;
    padding: 30px;
}

#processor_list_ul .fa-play {
    margin-right: 8px;
}

.flyout {
    width: 310px;
    margin-top: 10px;
    margin-left: -12px;
    font-size: 11px;
    position: absolute;
    font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
    background-color: white;
    padding: 9px 11px;
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid #c5c5c5;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.flyout #tip {
    background-image: url('../images/tip.png');
    background-repeat: no-repeat;
    background-size: auto;
    height: 11px;
    position: absolute;
    top: -11px;
    left: 25px;
    width: 20px;
}

.flyout h2 {
    text-transform: uppercase;
    color: #666;
    font-size: 1.2em;
    padding-bottom: 5px;
    margin-bottom: 12px;
    border-bottom: 1px solid #dcdbda;
}

.flyout p {
    padding-bottom: 25px;
    font-size: 1.1em;
    color: #222;
}

#expDesc {
    resize: none;
    height: 200px;
}

#profile_wrapper div,
#profile_wrapper a,
#profile_wrapper {
    float: right;
}

#navigation .button {
    float: right;
    height: 17px;
    font-size: 10px;
    margin: 2px;
    line-height: 17px;
    min-width: 60px;
    padding: 0 10px;
}

.user_remove_btn i {
    color: #721;
}

.inputfile+label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

.inputfile:focus+label,
.inputfile+label:hover {
    background-color: red;
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 14px;
}

.switch input {
    display: none !important;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(12px);
    -ms-transform: translateX(12px);
    transform: translateX(12px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 10px;
}

.slider.round:before {
    border-radius: 50%;
}